.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.button-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  height: 100vh; /* Ajusta la altura al 100% del viewport */
}

.button {
  background-color: transparent; /* Fondo transparente */
  color: rgb(255, 255, 255); /* Color de texto azul */
  padding: 10px 20px;
  border-radius: 5px;
  border: 2px solid rgb(255, 255, 255); /* Borde azul */
  cursor: pointer;
  transition: transform 0.3s ease; /* Transición suave */
}

.button:hover {
  transform: scale(1.1); 
}